# Ignore node_modules directory
node_modules/


# Ignore Android build files
android/build/
android/app/build/

# Ignore iOS build files
ios/build/
ios/Pods/

# Ignore logs and other build artifacts
*.log
*.apk
*.aab
*.xcworkspace/
*.xccheckout
*.xcuserstate
*.iml
*.gradle
.gradle/
local.properties
.DS_Store
